﻿@model ConnectPro.Entities.PaymentGateways.AuthorizeHostedPaymentPageResponse
@using ConnectPro.Entities;
@using Westwind.Globalization;
@{
    ViewBag.Title = @DbRes.T("AuthorizeHostedPaymentformTitle", "PaymentGateways");
}

<h2>Payment Form</h2>
<script src="~/Vendors/jquery/dist/jquery.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>

<div>

    @if (Model != null)
    {

        if (Model.isSandbox == false)
        {
            //For Live Mode
            Model.HostedFormUrl = "https://accept.z/payment/payment";
            <script src="https://js.authorize.net/v1/Accept.js"></script>

        }
        else
        {
            //for TEST MODE
            Model.HostedFormUrl = "https://test.authorize.net/payment/payment";
            <script src="https://jstest.authorize.net/v1/Accept.js"></script>

        }

        if (Model.messages.resultCode == ConnectPro.Entities.PaymentGateways.messageTypeEnum.Ok)
        {
            <div id="iframe_holder" class="center-block" style="width:90%;max-width: 1000px">
                <iframe id="load_payment" class="embed-responsive-item" name="load_payment" width="100%" height="650px" frameborder="0" scrolling="no"></iframe>
                <form id="send_hptoken" action="@Model.HostedFormUrl" method="post" target="load_payment">
                    <input type="hidden" name="token" value="@Model.token" />
                </form>
            </div>

        }
        else if (Model.messages.resultCode == ConnectPro.Entities.PaymentGateways.messageTypeEnum.Error)
        {
            <div>@Model.messages.message[0].text </div>
        }
    }

    <script type="text/javascript">

        var onLoad = true;
        tab = null;

        function returnLoaded() {
            console.log("Return Page Called ! ");
            //showTab(tab);
        }
        window.CommunicationHandler = {};
        function parseQueryString(str) {
            var vars = [];
            var arr = str.split('&');
            var pair;
            for (var i = 0; i < arr.length; i++) {
                pair = arr[i].split('=');
                vars[pair[0]] = unescape(pair[1]);
            }
            return vars;
        }
            CommunicationHandler.onReceiveCommunication = function (argument) {
            var responseArgsStr = argument.qstr;
            var firstOccuranceIndex = responseArgsStr.search(/\&/) + 1;
            var argqstrfilter = responseArgsStr.substr(0, firstOccuranceIndex) + responseArgsStr.slice(firstOccuranceIndex).replace(/[&]/g, '');
            transResponseParams = parseQueryString(argqstrfilter)
            params = parseQueryString(argument.qstr)
            parentFrame = argument.parent.split('/')[4];
            //console.log(params);
            //console.log(parentFrame);
            //alert(params['height']);
            $frame = $("#load_payment");

            switch (params['action']) {
                case "resizeWindow":
                    if (parentFrame == "manage" && parseInt(params['height']) < 1150) params['height'] = 1150;
                    if (parentFrame == "payment" && parseInt(params['height']) < 1000) params['height'] = 1000;
                    if (parentFrame == "addShipping" && $(window).width() > 1021) params['height'] = 350;
                    $frame.outerHeight(parseInt(params['height']));
                    break;

                case "successfulSave":
                    $('#HPConfirmation').modal('hide'); location.reload(false); break;

                case "cancel":
                    var currTime = sessionStorage.getItem("lastTokenTime");
                    if (currTime === null || (Date.now() - currTime) / 60000 > 15) {
                        location.reload(true);
                        onLoad = true;
                    }
                    switch (parentFrame) {
                       // case "addPayment": $("#send_token").attr({ "action": baseUrl + "addPayment", "target": "add_payment" }).submit(); $("#add_payment").hide(); break;
                        case "payment": sessionStorage.removeItem("HPTokenTime");
                            window.location = "@Model.transactionUrls.CancelUrl";
                            // $('#HostedPayment').attr('src', 'about:blank'); break;
                    }
                    break;

                case "transactResponse": sessionStorage.removeItem("HPTokenTime");
                    $('#HostedPayment').attr('src', 'about:blank');
                    var transResponse = JSON.parse(transResponseParams['response']);
                    var stringData = JSON.stringify(transResponse);
                    String.prototype.replaceAll = function (target, replacement) {
                        return this.split(target).join(replacement);
                    };
                    stringData = stringData.replaceAll("'", "&rsquo;");
                    $("<form action='/PaymentGateways/AuthrzHostedCheckoutPaymentResponseForBuyEventTickets' method='post'><input type='hidden' name='transId' value='" + transResponse.transId + "' /><input type='hidden' name='orderInvoiceNumber' value='" + transResponse.orderInvoiceNumber + "' /><input type='hidden' name='transResponse' value='" + stringData + "' /></form>").appendTo("body").submit();

            }
        }

        function showTab(target) {
            //onLoad = true;
            var currTime = sessionStorage.getItem("lastTokenTime");
            if (currTime === null || (Date.now() - currTime) / 60000 > 15) {
                location.reload(true);
                onLoad = true;
            }
            if (onLoad) {
                setTimeout(function () {

                    var currHPTime = sessionStorage.getItem("HPTokenTime");
                    if (currHPTime === null || (Date.now() - currHPTime) / 60000 > 5) {
                        sessionStorage.setItem("HPTokenTime", Date.now());
                        //$("#getHPToken").load("getHostedPaymentForm.php");
                        $("#HostedPayment").css({ "height": "200px", "background": "url(images/loader.gif) center center no-repeat" });
                        $("#send_hptoken").submit();
                    }
                    sessionStorage.removeItem("HPTokenTime");
                }, 100);
                onLoad = false;
            }

            $("#iframe_holder iframe").hide(); $("#payment").hide(); $("#shipping").hide();
            $("#home").hide(); $("#digital").hide(); $("#digitalPayDiv").hide(); $("#samplePayDiv").hide(); $("#addPayDiv").hide(); $("#addShipDiv").hide();
            //$("body").css("background",""); $("body").css("background","url('scripts/background.png')");
            switch (target = "#pay") {
                case "#home": $("#home").show(); break;
                case "#pay": $("#pay").show(); $("#digitalPayDiv").show(); $("#samplePayDiv").show(); $("#load_payment").show(); break;
                case "#profile": $("#load_profile").show(); break;
                case "#payment": $("#payment").show(); $("#addPayDiv").show(); break;
                case "#shipping": $("#shipping").show(); $("#addShipDiv").show(); break;
            }
        }

        //function refreshAcceptHosted() {
        //    alert("refreshAcceptHosted");
        //    var currHPTime = sessionStorage.getItem("HPTokenTime");
        //    if (currHPTime === null || (Date.now() - currHPTime) / 60000 > 5) {
        //        sessionStorage.setItem("HPTokenTime", Date.now());
        //        $("#getHPToken").load("/Home/Index");
        //        alert("/Home/success");
        //        $("#HostedPayment").css({ "height": "200px", "background": "url(images/loader.gif) center center no-repeat" });
        //        $("#send_hptoken").submit();
        //    }
        //    sessionStorage.removeItem("HPTokenTime");
        //}

        $(function () {
            //$frame = $("#load_payment");
            onLoad = true;

            sessionStorage.setItem("lastTokenTime", Date.now());
            tab = sessionStorage.getItem("tab");
            if (tab === null) {
                $("[href='#home']").parent().addClass("active");
                tab = "#home";
            }
            else {
                $("[href='" + tab + "']").parent().addClass("active");
            }
            //console.log("Tab : " + tab);
            showTab(tab);

            vph = $(window).height();
            $("#home").css("margin-top", (vph / 4) + 'px');

            $(window).resize(function () {
                $('#home').css({ 'margin-top': (($(window).height()) / 4) + 'px' });
            });

            $(window).keydown(function (event) {
                if (event.ctrlKey && event.keyCode == 69) {
                    event.preventDefault();
                    logOut();
                }
            });

        });

        $('#HPConfirmation').on('hidden.bs.modal', function (e) {
            alert("rBtn");
        })
    </script>
</div>
